.clear-captions-settings-section {
  padding: 0 20px;
}

.clear-captions-main-section {
  margin-bottom: 32px;
}

.clear-captions-alert {
  margin-bottom: 24px;
  border-radius: 8px;
}

.clear-captions-button-wrapper {
  max-width: 200px;
}

.clear-captions-button {
  width: 100%;
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
}

.clear-captions-modal-alert {
    margin-top: 16px;
}
